.booking {
  background-color: #440F51;
}

.booking__title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.booking-form__legend {
  margin: 0 0 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
}

.booking-form__halls {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px;
  padding: 0;
  border: none;
}

.booking-form__halls-input {
  display: none;
}

.booking-form__halls-label {
  width: 250px;
  padding: 7px 15px;
  color: #000;
  background-color: #FFF;
  border-radius: 8px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 133.333%;
  text-transform: uppercase;
}

.booking-form__halls-input:checked + .booking-form__halls-label {
  background-color: #6C0287;
}

.booking-form__room {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin: 0 0 60px;
  padding: 0;
  border: none;
}

.booking-form__room-choice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  border: none;
}

.booking-form__room-legend {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
}

.booking-form__room-label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 22px;
  line-height: normal;
}

.booking-form__room-input {
  margin: 0 12px 0 0;
  width: 27px;
  height: 27px;
}

.booking-form__room-checkbox {
  display: block;
  margin: 0 37px 0 0;
  appearance: none;
}

.booking-form__room-checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color:  #F4F2FF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.booking-form__room-checkbox::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.booking-form__room-checkbox:checked:after {
  opacity: 1;
}

.booking-form__order {
  display: flex;
  justify-content: space-around;
  margin: 0 0 40px;
  padding: 0;
  border: none;
}

.booking-form__order-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 34px;
  padding: 32px 0 0 0;
  max-width: 300px;
}

.booking-form__order-left {
  display: flex;
  gap: 32px;
}

.booking-form__order-input {
  position: relative;
  width: 134px;
  padding: 12px 20px 12px 20px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 30px;
}

.booking-form__order-input::placeholder {
  color: #211E1E;
  font-size: 18px;
  line-height: 155.556%;
  font-weight: 400;
}

.booking-form__order-input::-webkit-calendar-picker-indicator {
  margin: 0;
  background: url("../img/arrow.svg") no-repeat; 
  background-size: cover;
  width: 21px;
  height: 15px;
}

.booking-form__order-input_size_big {
  width: 100%;
}


.booking-form__order-input_size_big::-webkit-outer-spin-button,
.booking-form__order-input_size_big::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background-image: url("../img/arrow.svg");
  background-position: right;
  width: 21px;
  height: 15px;
}

.booking-form__order-center {
  max-width: 280px;
}

.booking-form__order-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 114.286%;
}

.booking-form__order-info {
  max-width: 100%;
  padding: 12px 27px;
  margin: 0 0 14px 0;
}

.input-surname {
  margin: 0;
}

.input-mail {
  margin: 0 0 40px 0;
}

.booking-form__order-right {
  max-width: 300px;
}

.booking-form__button {
  padding: 16px 50px;
  background-color: #FFF;
  color: #6C0287;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 127.273%;
  text-transform: uppercase;
}