.footer {
  padding: 50px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
  margin: 0 0 54px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 156px;
}

.footer__img {
  width: 680px;
  height: 274px;
  object-fit: cover;
}

.footer__address {
  margin: 0 0 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.footer__address-item {
  display: flex;
  align-items: center;
  gap: 28px;
  position: relative;
  margin: 0 0 14px;
}

.footer__address-item:first-child {
  margin: 0 0 39px;
}

.footer__address-item:last-child {
  margin: 0;
}

.footer__address-link {
  display: flex;
  align-items: center;
  color: #CD06FF;
  text-decoration: none;
}

.footer__address-text {
  padding: 0px 0 0 28px;
  white-space: pre-line;
  color: #FFF;
}


.footer__nav-list {
  font-size: 0;
}

.footer__nav-item {
  display: inline-block;
  margin: 0 26px 0 0;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link {
  color: #FFF;
  outline: 1px solid transparent;
  border-radius: 50%;
}

.footer__nav-link:active {
  color: #EADEED;
}

.footer__nav-link:hover {
  color: #CD06FF;
}

.footer__nav-link:focus {
  outline-color: #CD06FF;
}

.footer__grup {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  font-size: 14px;
  line-height: 114.286%;
}

.footer__item-designer {
  margin: 0 0 6px 0;
  text-align: end;
  font-size: 14px;
  line-height: 114.286%;
  color: #FFF;
}

.footer__item-designer:last-child {
  margin: 0;
}

.footer__link-designer:hover,
.footer__link-designer:focus {
  color: #CD06FF;
}

.footer__link-designer:active {
  color:  #EADEED;
}

.footer__address-link:hover,
.footer__address-text:hover,
.footer__address-link:focus,
.footer__address-text:focus {
  color: #640AA3;
}

.footer__address-link:active,
.footer__address-text:active{
  color: #EADEED;
}


