.footer {
  padding: 50px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
  margin: 0 0 54px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 156px;
}

.footer__img {
  width: 680px;
  height: 274px;
  object-fit: cover;
}

.footer__address {
  display: inline-block;
  margin: 0 0 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.footer__link {
  padding-left: 70px;
  background-repeat: no-repeat;
  background-position: left center;
  transition: color .2s;
}

.footer__item_type_location {
  margin: 0 0 38px;
  background-image: url("../img/location.svg");
  white-space: pre-line;
  user-select: none;
}

.footer__item_type_tel {
  margin: 0 0 11px;
  background-image: url("../img/phone-call.svg");
}

.footer__item_type_mail {
  margin: 0;
  background-image: url("../img/envelope.svg");
}

.footer__nav-list {
  font-size: 0;
}

.footer__nav-link {
  color: #FFF;
  outline: 1px solid transparent;
  border-radius: 50%;
  transition: color .2s;
}

.footer__nav-link:hover {
  color: #CD06FF;
}

.footer__nav-link:active {
  color: #EADEED;
}

.footer__nav-link:focus {
  outline-color: #CD06FF;
}

.footer__nav-item {
  display: inline-block;
  margin: 0 26px 0 0;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__grup {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  font-size: 14px;
  line-height: 114.286%;
}

.footer__item-designer {
  margin: 0 0 6px 0;
  text-align: end;
  font-size: 14px;
  line-height: 114.286%;
}

.footer__item-designer:last-child {
  margin: 0;
}

.footer__link-designer:hover,
.footer__link-designer:focus {
  transition: .2s;
  color: #CD06FF;
}

.footer__link-designer:active {
  color:  #EADEED;
}

.footer__link:hover,
.footer__address-text:hover,
.footer__link:focus,
.footer__address-text:focus {
  color: #CD06FF;
}

.footer__link:active,
.footer__address-text:active,
.footer__link-designer:active{
  color: #EADEED;
}
