.game {
  padding: 146px 0 50px;
}

.game__container {
  position: relative;
  min-height: 823px;
}

.game__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 675px;
  height: 762px;
  background-image: url("../img/game-over.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.game__title {
  color: #FFF;
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -15px;
}

.game__text {
  padding: 0 0 0 100px;
  font-size: 28px;
  line-height: 1.8;
}
