html {
  position: relative;
  box-sizing: border-box;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  background-color: #1B1A1B;
  color: var(--white-color, #FFF);
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

.button {
  padding: 12px 32px;
  border-radius: 10px;
  outline: 3px solid var(--white-color, #FFF);
  color: var(--white-color, #FFF);
}

@media (max-width: 1120px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 880px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 20px;
  }
}