.halls {
  padding: 50px 0 100px;
}
.halls__title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 0;
}

.halls__item {
  position: relative;
  flex-basis: calc(50% - 10px);
  text-align: center;
  padding: 132px 0;
}

.halls__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.halls__item_theme_right:last-child {
  margin: 0;
}

.halls__link {
  display: inline-block;
  max-width: 252px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.halls__link::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.halls__link:hover {
  color: #840AA3;;
}

.halls__link:active {
  color: #640AA3;
}

.halls__link:focus-visible {
  color: #840AA3;
}

.halls__link:hover::after {
  background-color: #fff2;
}