
.halls__title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.halls__list {
  display: flow-root;
}

.halls__item {
  position: relative;
  text-align: center;
}

.halls-item__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.halls__item_theme_left {
  float: left;
  margin: 0 20px 20px 0;
}

.halls__item_theme_right {
  float: right;
  margin: 0 0 20px;
}

.halls__item:nth-child(3) {
  margin: 0 20px 0 0;
}

.halls__item_theme_right:last-child {
  margin: 0;
}

.halls__figure {
  width: 580px;
  height: 349px;
  padding: 132px 0;
}

.halls__link {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}