

.questions__title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.questions__list {
  list-style: none;
}

.questions__item {
  position: relative;
  margin: 0 0 20px;
  padding: 30px 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.questions__item:last-child {
  margin-bottom: 0;
}

.questions__item:nth-child(even) {
  background-color: #440F51;
  color: #FFF;
}

.questions__item:nth-child(odd) {
  background-color: #FFF;
  color: #1C1A1A;
}

.questions__item::after {
  content: "";
  background-image: url("../img/open-purple.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}

.questions__item:nth-child(even):after {
  background-image: url("../img/open-white.svg");
}