.rest__title {
  margin-bottom: 41px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  white-space: pre-line;
}

.rest__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.rest__text {
  font-weight: 700;
}

.rest__item {
  padding: 166px 40px 6px;
  flex-basis: 380px;
  height: 228px;
  background: no-repeat center/cover;
  transition: all .2s ease;
}

.rest__item:hover {
  transform: scale(1.1);
}

.rest__item_equipment_vr {
  background-image: url("../img/VR-glasses.jpeg");
}

.rest__item_equipment_audio {
  background-image: url("../img/Audio-system.jpeg");
}

.rest__item_equipment_karaoke {
  background-image: url("../img/Karaoke.jpeg");
}

.rest__item_equipment_game {
  background-image: url("../img/Board-games.jpeg");
}

.rest__item_equipment_netflix {
  background-image: url("../img/Netflix.jpeg");
  background-position-y: -90px;
}

.rest__item_equipment_ps {
  background-image: url("../img/PlayStation5.jpg");
}