
.visitor__title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.visitor__list {
  display: flow-root;
  padding: 0 100px;
}

.visitor__item {
  display: inline-block;
  margin: 0 0 50px;
}

.visitor__item:last-child {
  margin: 0;
}

.visitor__figure {
  float: left;
  margin: 0 20px 0 0;
}

.visitor__img {
  margin: 0 0 11px ;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.visitor__admin {
  text-align: center;
}

.visitor__text {
  padding: 60px 0 0;
}