
.visitor__title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.visitor__list {
  display: flow-root;
  padding: 0 100px;
}

.visitor__item {
  display: inline-block;
  margin: 0 0 50px;
}

.visitor__item:last-child {
  margin: 0;
}

.visitor__figure {
  display: inline-block;
  position: relative;
  margin: 0 20px 0 0;
  vertical-align: top;
  border-radius: 140px;
}

.visitor__figure::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  height: 280px;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
  border-radius: 50%;
}

.visitor__img {
  margin: 0 0 11px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}


.visitor__admin {
  text-align: center;
}

.visitor__text {
  display: inline-block;
  padding: 60px 0 0;
  max-width: calc(100% - 306px);
  vertical-align: top;
}